<div class="datasecwrapper-inner">
    <div class="text-center">
        <h2 class="titleheading small">Change Password</h2>
    </div>
    <form (ngSubmit)="changePassword()" #frmSignIn="ngForm" novalidate class="password-wrap">
        <div class="form-group">
            <label for="" class="input-label">Current Password</label>
            <div class="input-wrap">
                <input type="password" minlength="8" maxlength="20" name="currentPassword" validattionDirective placeholder="{{ 'current-password' | translate}}" #currentPasswordRef="ngModel" [(ngModel)]="currentPassword" required>
                <div *ngIf="currentPasswordRef.invalid&&currentPasswordRef.touched">
                    <span class="errorlog-inputmsg top" style="display:block" *ngIf="currentPasswordRef?.errors.required"> {{ 'this-field-is-required' | translate}}</span>
                    <span class="errorlog-inputmsg top" style="display:block" *ngIf="currentPasswordRef?.errors.minlength">{{ 'password-must-be-at-least-8-characters-long' | translate}}</span>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="" class="input-label">New Password</label>
            <div class="input-wrap">

                <input type="password" minlength="8" maxlength="20" name="newPassword" validattionDirective placeholder="{{ 'new-password' | translate}}" #newPasswordRef="ngModel" [(ngModel)]="newPassword" required>
                <div *ngIf="newPasswordRef.invalid&&newPasswordRef.touched">
                    <span class="errorlog-inputmsg top" style="display:block" *ngIf="newPasswordRef?.errors.required"> {{ 'this-field-is-required' | translate}}</span>
                    <span class="errorlog-inputmsg top" style="display:block" *ngIf="newPasswordRef?.errors.minlength">{{ 'password-must-be-at-least-8-characters-long' | translate}}</span>
                </div>


            </div>
        </div>
        <div class="form-group">
            <label for="" class="input-label">Confirm Password</label>
            <div class="input-wrap">
                <input type="password" minlength="8" maxlength="20" name="confirmPassword" validattionDirective placeholder="{{ 'confirm-password' | translate}}" #confirmPasswordRef="ngModel" [(ngModel)]="confirmPassword" required>
                <div *ngIf="confirmPasswordRef.invalid&&confirmPasswordRef.touched">
                    <span class="errorlog-inputmsg top" style="display:block" *ngIf="confirmPasswordRef?.errors.required"> {{ 'this-field-is-required' | translate}}</span>
                    <span class="errorlog-inputmsg top" style="display:block" *ngIf="confirmPasswordRef?.errors.minlength">{{ 'password-must-be-at-least-8-characters-long' | translate}}</span>
                </div>
                <div *ngIf="newPassword!=confirmPassword && confirmPassword.length>=newPassword.length">
                    <span class="errorlog-inputmsg top" style="display:block"> {{ 'password-does-not-match' | translate}}</span>
                </div>

                <span *ngIf="ifSuccess">Password updated successfully</span>
                <span *ngIf="ifInvalidPassword">Invalid old password</span>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" [disabled]="frmSignIn.invalid || newPassword!=confirmPassword" class="custom-btn gradient-lr">Save</button>
        </div>
    </form>
</div>