<div class="rating-wrapper">
    <div class="column">
        <figure class="user-image" style="background-image: url('assets/images/user1.jpg')"></figure>
        <h2 class="user-name">Mathew Joseph <small>(Canada)</small></h2>
        <span class="rating-star"><span style="width:76%"></span></span>
        <span class="datetime"> April 22, 2017 at 7:50 am </span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettin</p>
    </div>
    <div class="column">
        <figure class="user-image" style="background-image: url('assets/images/user1.jpg')"></figure>
        <h2 class="user-name">Mathew Joseph <small>(Canada)</small></h2>
        <span class="rating-star"><span style="width:76%"></span></span>
        <span class="datetime"> April 22, 2017 at 7:50 am </span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettin</p>
    </div>
    <div class="column">
        <figure class="user-image" style="background-image: url('assets/images/user1.jpg')"></figure>
        <h2 class="user-name">Mathew Joseph <small>(Canada)</small></h2>
        <span class="rating-star"><span style="width:76%"></span></span>
        <span class="datetime"> April 22, 2017 at 7:50 am </span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettin</p>
    </div>
    <div class="column">
        <figure class="user-image" style="background-image: url('assets/images/user1.jpg')"></figure>
        <h2 class="user-name">Mathew Joseph <small>(Canada)</small></h2>
        <span class="rating-star"><span style="width:76%"></span></span>
        <span class="datetime"> April 22, 2017 at 7:50 am </span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettin</p>
    </div>
    <div class="column">
        <figure class="user-image" style="background-image: url('assets/images/user1.jpg')"></figure>
        <h2 class="user-name">Mathew Joseph <small>(Canada)</small></h2>
        <span class="rating-star"><span style="width:76%"></span></span>
        <span class="datetime"> April 22, 2017 at 7:50 am </span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesettin</p>
    </div>
</div>