<!-- banner-->
<div class="teach-topbanner">
    <div class="container inner">
        <h1>Apply To Teach</h1>
        <p>Earn money teaching your language online. Anytime. Anywhere.</p>
        <button type="button" (click)="open(signupmodal)" class="custom-btn gradient">Apply Now</button>
    </div>
</div>
<!-- banner end-->
<!-- benefits-->
<div class="benefit-wrapper">
    <div class="container inner">
        <div class="text-center">
            <h2 class="titleheading">Benefits</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="benefit-column">
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images//icon4.png" alt="lock">
                        </figure>
                    </div>
                    <h2 class="head">Earn money</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis consequatur repellendus dolores nemo aut, impedit corporis nostrum?</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefit-column">
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images//icon5.png" alt="lock">
                        </figure>
                    </div>
                    <h2 class="head">Work anywhere </h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis consequatur repellendus dolores nemo aut, impedit corporis nostrum?</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefit-column">
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images//icon6.png" alt="lock">
                        </figure>
                    </div>
                    <h2 class="head">Teach anytime</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis consequatur repellendus dolores nemo aut, impedit corporis nostrum?</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefit-column">
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images//icon7.png" alt="lock">
                        </figure>
                    </div>
                    <h2 class="head">Flexibility</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis consequatur repellendus dolores nemo aut, impedit corporis nostrum?</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefit-column">
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images//icon8.png" alt="lock">
                        </figure>
                    </div>
                    <h2 class="head">International community</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis consequatur repellendus dolores nemo aut, impedit corporis nostrum?</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="benefit-column">
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images//icon9.png" alt="lock">
                        </figure>
                    </div>
                    <h2 class="head">Gain followers</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis consequatur repellendus dolores nemo aut, impedit corporis nostrum?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- benefits end-->
<div class="accordion-wrapper">
    <div class="container">
        <div class="text-center">
            <h2 class="titleheading">Frequently Asked Questions</h2>
        </div>
        <div class="accordion-inner">
            <h2 class="heading-type">General</h2>
            <div class="column">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal data
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti amet omnis quod exercitationem explicabo, autem, eligendi inventore quis magni optio sit vitae ipsa recusandae? Ad placeat eaque dolore aliquid?</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Where do I teach?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Where is Verbling’s main office located?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="column">
                <h2 class="heading-type">Application/Requirements</h2>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal data
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti amet omnis quod exercitationem explicabo, autem, eligendi inventore quis magni optio sit vitae ipsa recusandae? Ad placeat eaque dolore aliquid?</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Where do I teach?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Where is Verbling’s main office located?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="column">
                <h2 class="heading-type">Teaching</h2>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal data
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae corrupti amet omnis quod exercitationem explicabo, autem, eligendi inventore quis magni optio sit vitae ipsa recusandae? Ad placeat eaque dolore aliquid?</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Where do I teach?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Where is Verbling’s main office located?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis quos quaerat. Commodi debitis placeat repudiandae magnam itaque culpa laudantium corrupti nemo? Placeat ipsum expedita accusamus sunt distinctio, ea quaerat.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>

<ng-template #signupmodal let-c="close" let-d="dismiss" class="lg-modal">
    <button type="button" class="modal-cross" aria-label="Close" (click)="d('Cross click')">
            <img src="assets/images/cancel.png" alt="close">
        </button>
    <div class="modal-body">
        <div class="modal-bg">
            <div class="signup-modal custom-modal clearfix" id="LogInmodal">
                <div class="modal-inner">
                    <div class="image-section">
                        <img src="assets/images/signup.jpg" alt="">
                    </div>

                    <div class="content-section">
                        <div class="email-exist signup" *ngIf="registrationResponse!=''"> {{registrationResponse}} </div>
                        <h2 class="modal-head text-center">Sign Up</h2>
                        <p class="modal-para">Lorem Ipsum is simply dummy text of the printing. </p>
                        <form (ngSubmit)="signUp(verification)" #frm="ngForm" novalidate>
                            <!-- <div class="custom-radio">
                                    <input type="radio" name="student" value="1" checked="checked" name="radio1" id="student" [(ngModel)]="reg.isStudent" />
                                    <label for="student">Student</label>
                                </div>
                                <div class="custom-radio">
                                    <input type="radio" name="tutor" value="0" name="radio1" id="tutor" [(ngModel)]="reg.isStudent" />
                                    <label for="tutor">Tutor</label>
                                </div> -->
                            <div class="form-group col50">
                                <div class="input-wrap col50right">
                                    <input type="text" name="firstName" placeholder="First Name" #firstNameRef="ngModel" [(ngModel)]="firstName" required/>
                                    <div *ngIf="firstNameRef.invalid&&firstNameRef.touched">
                                        <span class="errorlog-inputmsg" style="display:block" *ngIf="firstNameRef?.errors.required">This Field is Required </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group col50">
                                <div class="input-wrap col50left">
                                    <input type="text" name="lastName" value="" placeholder="Last name" #lastNameRef="ngModel" [(ngModel)]="lastName" required>
                                    <div *ngIf="lastNameRef.invalid&&lastNameRef.touched">
                                        <span class="errorlog-inputmsg right" style="display:block" *ngIf="lastNameRef?.errors.required">This Field is Required </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div class="input-wrap">
                                    <input type="email" name="email" [disabled]="isEmailFalse" placeholder="Email" name="email" #mailRef="ngModel" [(ngModel)]="email" email>
                                    <div *ngIf="mailRef.invalid&&mailRef.touched">
                                        <span class="errorlog-inputmsg" style="display:block" *ngIf="mailRef?.errors.required">This Field is Required.</span>
                                        <span class="errorlog-inputmsg" style="display:block" *ngIf="mailRef?.errors.email">Please enter a valid email </span>
                                    </div>


                                    <!-- <div *ngIf="emailRef.invalid&&emailRef.touched">
                                            <span class="" *ngIf="emailRef?.errors.email">Please enter a valid email</span>
                                        </div> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-wrap">
                                    <input type="password" name="password" value="" placeholder="Password" minlength="8" maxlength="20" #passwordRef="ngModel" [(ngModel)]="password" required>
                                    <div *ngIf="passwordRef.invalid&&passwordRef.touched">
                                        <span class="errorlog-inputmsg" style="display:block" *ngIf="passwordRef?.errors.required">This Field is Requried.</span>
                                        <span class="errorlog-inputmsg" style="display:block" *ngIf="passwordRef?.errors.minlength">Password must be at least 8 characters long.</span>
                                        <!-- <span class="error-inputmsg"  style="display:block"  *ngIf="passwordRef?.errors.minlengt">password should be greater than 3 characters </span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="button-wrapper text-center">
                                <!-- <button type="button" name="" value="" class="gradient custom-btn"  
                                    (click)="open(verification)">Sign Up</button> -->
                                <button type="submit" name="btnSubmit" class="gradient custom-btn" [disabled]="frm.invalid">Sign Up</button>
                                <!-- <span stype="color:red">{{registrationResponse}}</span> -->
                            </div>
                            <div class="other-option">
                                <span> Or Connect With </span>
                            </div>
                            <div class="social-icon">
                                <a href="javascript:void" class="facebook" (click)="connectWithFacebook()">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="javascript:void" class="google-plus" (click)="connectWithGooglePlus()">
                                    <i class="fa fa-google-plus"></i>
                                </a>

                            </div>
                        </form>
                        <!-- <div class="footer-modal text-center">
                                <p class="para">Already have an account
                                    <a href="javascript:void(0);" (click)="open(loginmodal)" class="signup">
                                    Sign In </a>
                                </p>
                            </div> -->
                    </div>
                </div>
            </div>


        </div>
    </div>
</ng-template>

<ng-template #verification let-c="close" let-d="dismiss">
    <button type="button" class="modal-cross" aria-label="Close" (click)="d('Cross click')">
                <img src="assets/images/cancel.png" alt="close">
            </button>
    <div class="modal-bg">
        <div class="verification custom-modal clearfix" id="LogInmodal">
            <div class="modal-inner">
                <div class="content-section">
                    <h2 class="modal-head text-center">Verification Link Sent</h2>
                    <p class="modal-para text-center">The email containing a link to varify your account has been sent to your email address. Please check your inbox.</p>

                    <a [href]="varificationLink" target="_blank">Click here</a>
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images/circle-check.png" alt="Check">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>