<app-instant-tutoring-mark></app-instant-tutoring-mark>
<div class="datasecwrapper-inner">
    <div class="text-center" *ngIf="isChecked">
        <h1 class="titleheading small">
           
            {{'instant-tutoring' | translate}}
        </h1>
    </div>
    <div class="sub-wrapper" *ngIf="isChecked">
        <h2 class="sub-heading">
            
            {{'how-much-would-you-want-to-charge-for-instant-tutoring?' | translate}}
         
        </h2>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins"> {{'15-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="InstantMins15" [(ngModel)]="InstantMins15"  onPaste="return false" (keypress)="restrictNumeric($event)" class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins"> {{'30-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="InstantMins30" [(ngModel)]="InstantMins30" onPaste="return false" (keypress)="restrictNumeric($event)" class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins"> {{'60-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="InstantMins60" [(ngModel)]="InstantMins60" onPaste="return false" (keypress)="restrictNumeric($event)" class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
            <span *ngIf="ifNoInstantAdded" style="color:red">
                    {{'please-enter-price' | translate}}
               </span>
        </div>
     
    </div>

    <div class="text-center">
        <h1 class="titleheading small">{{'trial-lessons' | translate}}</h1>
    </div>
    <div class="sub-wrapper">
        <h2 class="sub-heading">{{'how-much-would-you-want-to-charge-for-trial-lessons?' | translate}}</h2>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <!-- <label for="" class="input-label">Trial</label> -->
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins"> {{'15-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="trialLessons15" [(ngModel)]="trialLessons15" onPaste="return false" (keypress)="restrictNumeric($event)" class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <!-- <label for="" class="input-label">1 Lesson</label> -->
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins"> {{'30-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="trialLessons30" [(ngModel)]="trialLessons30" onPaste="return false" (keypress)="restrictNumeric($event)" class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <!-- <label for="" class="input-label">5 Lessons</label> -->
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins">{{'60-mins' | translate}} </span>
                            <input type="text" maxlength="5"  name="trialLessons60" [(ngModel)]="trialLessons60" onPaste="return false" (keypress)="restrictNumeric($event)" class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="text-center">
        <h1 class="titleheading small">{{'regular-lessons' | translate}}</h1>
    </div>
    <div class="sub-wrapper">
        <h2 class="sub-heading">{{'how-much-would-you-want-to-charge-for-your-lessons?' | translate}}</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="" class="input-label">{{'1-lesson' | translate}}</label>
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins"> {{'60-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="regularLessonsForOneLesson" [(ngModel)]="regularLessonsForOneLesson" onPaste="return false" (keypress)="restrictNumeric($event)"  class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="" class="input-label">{{'5-lessons' | translate}}</label>
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins"> {{'60-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="regularLessonsForFiveLesson" [(ngModel)]="regularLessonsForFiveLesson" onPaste="return false" (keypress)="restrictNumeric($event)"  class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="" class="input-label">{{'10-lessions' | translate}}</label>
                    <div class="input-wrap">
                        <div class="input-inner">
                            <span class="side-btn doller">$</span>
                            <span class="side-btn mins">{{'60-mins' | translate}}</span>
                            <input type="text" maxlength="5" name="regularLessonsForTenLesson" [(ngModel)]="regularLessonsForTenLesson" onPaste="return false" (keypress)="restrictNumeric($event)" class="input" placeholder="{{'price' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <span *ngIf="priceSuccessMessage">{{'price-has-been-updated-successfully' | translate}}</span>
        <span *ngIf="ifNoRegularPriceAdded" style="color:red">{{'please-enter-price' | translate}}</span>
        
    </div>
    <div class="text-center btn-mar">
        <button type="button" class="custom-btn gradient-lr" (click)="saveRates()">{{'save' | translate}}Save</button>
    </div>
</div>