.error-edu-inputmsg {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 13px;
    font-weight: 500;
    color: #ff0000;
}

.error-edu-inputmsg.fileup {
    bottom: 6px;
}

.profile-wrapper.teacher .form-group {
    margin-bottom: 20px;
}

textarea {
    padding-bottom: 30px;
}

.sub-inputwrap {
    margin-bottom: 10px;
}

.fileup-info {
    font-size: 14px;
    display: block;
    color: #a9a8a8;
}