<div class="section-container">
    <div class="row" *ngFor="let form of educationListPrepareForm;let i=index">
        <div class="col-xs-12 col-sm-12">
            <div *ngIf="i != 0" (click)="removeFormFromDome(i)" class="append-dataremove">close</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label class="input-label">Company Name:</label>
                <div class="input-wrap">
                    <input type="text" value="" maxlength="100" name="companyName{{i}}" [(ngModel)]="form.companyName" placeholder="Name of company" />
                    <span *ngIf="form.companyNameValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label class="input-label">Position:</label>
                <div class="input-wrap">
                    <input type="text" value="" maxlength="70" name="Position{{i}}" [(ngModel)]="form.position" placeholder="Name of position" />
                    <span *ngIf="form.positionValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                <label class="input-label">Work Location:</label>
                <div class="input-wrap">
                    <input type="text" value="" maxlength="70" name="Location{{i}}" [(ngModel)]="form.location" placeholder="City,(State or Province),Country" />

                    <span *ngIf="form.locationValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label class="input-label">Start Date:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-wrap sub-inputwrap">
                            <span class="selectpicker-btn"></span>
                            <select class="custom-selectpicker" name="stratDateYear{{i}}" [(ngModel)]="form.stratDateYear" (change)="ChangeStartDate(i,form.stratDateYear)">
                                    <option value="0" disabled selected>Select Year</option>
                                    <option *ngFor="let y of form.startYearList;let i=index" value="{{y}}" (change)="changeStartYear()">
                                        {{y}}
                                    </option>
                                </select>
                            <span *ngIf="form.stratDateYearValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-wrap sub-inputwrap">
                            <span class="selectpicker-btn"></span>
                            <select class="custom-selectpicker" name="stratDateMonth{{i}}" [(ngModel)]="form.stratDateMonth" (change)="ChangeStartMonth(i,form.stratDateMonth)">
                                    <option value="0" disabled selected>Select Month</option>
                                    <option *ngFor="let month of form.startDateMonthList;let i=index" value="{{month.id}}">
                                        {{month.value}}
                                    </option>
                                </select>
                            <span *ngIf="form.stratDateMonthValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
                <label for="" class="input-label">End Date:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-wrap">
                            <span class="selectpicker-btn"></span>
                            <select class="custom-selectpicker" name="endDateYear{{i}}" [(ngModel)]="form.endDateYear" (change)="setMonth(i,form.stratDateMonth)">
                                    <option value="0" disabled selected>Select Year</option>
                                    <option *ngFor="let y of form.YearofAcquisitionList;let i=index" value="{{y}}">
                                        {{y}}
                                    </option>
                                </select>
                            <span *ngIf="form.endDateYearValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-wrap">
                            <span class="selectpicker-btn"></span>
                            <select class="custom-selectpicker" name="endDateMonth{{i}}" [(ngModel)]="form.endDateMonth">
                                    <option value="0" disabled selected>Select Month</option>
                                    <option *ngFor="let month of form.acquisitionMonthList;let i=index" value="{{month.id}}">
                                        {{month.value}}
                                    </option>
                                </select>
                            <span *ngIf="form.endDateMonthValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                <label class="input-label">Descriptions:</label>
                <textarea name="" id="" maxlength="200" (keyup)="changeTextAreacount(form.descriptions,i)" cols="30" rows="3" name="descriptions{{i}}" [(ngModel)]="form.descriptions" placeholder="Description"></textarea>
                <span *ngIf="form.descriptionsValid" class="error-edu-inputmsg" style="display:block">This field is required. </span>
                <span class="char-count-textarea">{{form.descriptionLength}} Characters</span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="educationListPrepareForm.length <=4">
    <a href="javascript:void(0);" (click)="addNewForm()" class="add-more-appenddata">Add More</a>
</div>
<div class="clearfix"><span *ngIf="ifSuccess" class="successMsg-top">{{responseMessage}}</span></div>

<div class="button-wrapper">
    <button type="submit" class="custom-btn gradient-lr" (click)="editWorkExperiance()">Update</button>
    <!-- <button type="submit" class="custom-btn cancel">Cancel</button> -->
</div>