<div class="datasecwrapper-inner">
    <div class="notification-wrapper">
        <div class="text-center">
            <h2 class="titleheading small">Notifications</h2>
        </div>
        <div class="inner">
            <a href="javascript:void(0)" class="delete-ovarall">Delete All &nbsp; <img src="assets/images/delete-btn.png" alt="Delete"></a>
            <div class="column">
                <a href="javascript:void(0);" class="delete"><img src="assets/images/delete-btn.png" alt="Delete"></a>
                <p class="message">Hey John have you not made appointment request.</p>
                <span class="datetime">Yesterday, 11:00 AM</span>
            </div>
            <div class="column unread">
                <a href="javascript:void(0);" class="delete"><img src="assets/images/delete-btn.png" alt="Delete"></a>
                <p class="message">Lorem Ipsum is simply dummy text of the printing and typesettin Lo Lorem Ipsum is simply dummy text of the printing and typesettin Lo</p>
                <span class="datetime">Yesterday, 11:00 AM</span>
            </div>
            <div class="column">
                <a href="javascript:void(0);" class="delete"><img src="assets/images/delete-btn.png" alt="Delete"></a>
                <p class="message">Hey John have you not made appointment request Hey John have you not made appointment request.</p>
                <span class="datetime">Yesterday, 11:00 AM</span>
            </div>
            <div class="column">
                <a href="javascript:void(0);" class="delete"><img src="assets/images/delete-btn.png" alt="Delete"></a>
                <p class="message">Hey John have you not made appointment request Hey John have you not made appointment request.</p>
                <span class="datetime">Yesterday, 11:00 AM</span>
            </div>
            <div class="column">
                <a href="javascript:void(0);" class="delete"><img src="assets/images/delete-btn.png" alt="Delete"></a>
                <p class="message">Hey John have you not made appointment request Hey John have you not made appointment request.</p>
                <span class="datetime">Yesterday, 11:00 AM</span>
            </div>
            <div class="column">
                <a href="javascript:void(0);" class="delete"><img src="assets/images/delete-btn.png" alt="Delete"></a>
                <p class="message">Hey John have you not made appointment request Hey John have you not made appointment request.</p>
                <span class="datetime">Yesterday, 11:00 AM</span>
            </div>
            <div class="column">
                <a href="javascript:void(0);" class="delete"><img src="assets/images/delete-btn.png" alt="Delete"></a>
                <p class="message">Hey John have you not made appointment request Hey John have you not made appointment request.</p>
                <span class="datetime">Yesterday, 11:00 AM</span>
            </div>
        </div>
    </div>
</div>