.findtopic-tabs {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: solid 1px #ececec;
    position: relative;
    overflow: hidden;
    margin: 25px 0 15px;
}

.findtopic-tabs>li {
    display: inline-block;
}

.findtopic-tabs>li>a {
    display: block;
    color: #52686e;
    padding: 15px 50px;
    font-size: 14px;
    border-bottom: transparent;
    position: relative;
}

.findtopic-tabs>li>a.active {
    font-weight: 500;
}

.findtopic-tabs>li>a:hover {
    background: rgba(82, 104, 110, 0.51);
    color: #fff;
}

.findtopic-tabs>li>a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background: #c0dfa7;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
}

.findtopic-tabs>li>a.active:before {
    width: 100%;
}

.datasecwrapper-inner {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: solid 1px #ececec;
    position: relative;
    padding: 0 20px;
    overflow: hidden;
    margin: 0 0 20px 0;
}