<!-- home page start -->
<div [@visibilityChanged]="visibilityChanged">
    <div class="overflow-wrap">
        <div class="home-banner">
            <div class="home-banner-inner">
                <div class="container">
                    <div class="content">
                        <h1 class="heading"> {{'learn-to-speak-a-language' | translate}}</h1>
                        <p class="para">  {{'conquer-a-language-text' | translate}}</p>
                        <a href="javascript:void(0);" [routerLink]="['../teacher/listing']">
                            <button class="custom-btn gradient">
                                    
                                      {{'start-learning' | translate}}
                                  
                              </button>
                        </a>
                        
         
                    </div>
                    <div class="image-sec">
                        <img src="assets/images/macbook.png" alt="Macbook">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home page end -->
    <!-- how it works -->
    <div class="howitworks clearfix">

        <div class="container">
            <h2 class="titleheading" (click)="clickout()">{{'how-it-works' | translate}}</h2>
            <div class="clearfix"></div>
            <div class="column">
                <figure class="icon-bg">
                    <img src="assets/images/icon1.png" alt="">
                </figure>
                <h3 class="heading">{{'find-a-tutor' | translate}}</h3>
                <p class="para">{{'find-a-tutor-text' | translate}}</p>
            </div>
            <div class="column">
                <figure class="icon-bg">
                    <img src="assets/images/icon2.png" alt="">
                </figure>
                <h3 class="heading">{{'book-lessons' | translate}}</h3>
                <p class="para">{{'book-lessons-text' | translate}}</p>
            </div>
            <div class="column">
                <figure class="icon-bg">
                    <img src="assets/images/icon3.png" alt="">
                </figure>
                <h3 class="heading">{{'start-mastering' | translate}}</h3>
                <p class="para"> {{'start-mastering-text' | translate}}</p>
            </div>
        </div>
    </div>
    <!-- how it works end -->
    <!-- about-wrapper  -->
    <div class="about-wrapper clearfix">
        <div class="aboutinner-wrapper">
            <div class="container">
                <div class="image-sec">
                    <img src="assets/images/banner1.jpg" alt="banner">
                </div>
                <div class="content">
                    <h2 class="titleheading">{{'lorem-ipsum-is-simply'| translate}}</h2>
                    <p class="para">{{'lorem-ipsum-is-simply-text'| translate}} </p>                    
                    <button class="custom-btn gradient"> {{'learn-more'| translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- about-wrapper end  -->

    <!-- gallery-wrapper  -->
    <div class="gallery-wrapper clearfix">
        <div class="container">
            <h2 class="titleheading"> {{'our-koalatalk-tutors'| translate}}</h2>
            <ul class="image-listing clearfix">
                <li *ngFor="let tutor of tutorList">
                    <!-- <figure style="background-image: url('assets/images/user1.jpg');"></figure> -->
                    <figure [style.background-image]="'url('+ tutor.image +')'"></figure>
                    <div class="overlay">
                        <h3>{{tutor.firstName}} {{tutor.lastName}}</h3>
                        <p>({{tutor.countryName}})</p>
                        <a href="javascript:void(0)" [routerLink]="[ '../teacher/details',tutor._id]">
                        <button class="custom-btn gradient">
                            Book Lesson
                        </button>
                    </a>   
                    </div>
                </li>
                <!-- <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user1.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user1.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user1.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user1.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user1.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user1.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li>
                <li>
                    <figure style="background-image: url('assets/images/user2.jpg');"></figure>
                    <div class="overlay">
                        <h3>John Doe</h3>
                        <p>(English)</p>
                        <button class="custom-btn gradient">Book Lesson</button>
                    </div>
                </li> -->
            </ul>
            <a href="javascript:void(0);" [routerLink]="['../teacher/listing']">
            <button class="custom-btn gradient">{{'see-more-tutors'| translate}}</button>
            </a>
            
        </div>
    </div>
</div>
<!-- gallery-wrapper end -->