<div class="reset-wrapper">
    <div class="reset-wrapper-inner">
        <div class="reset-modal custom-modal clearfix" id="LogInmodal">
            <div class="modal-inner">
                <div class="content-section">
                    <h2 class="modal-head text-center">Reset Password </h2>
                    <div class="icon-image">
                        <figure class="icon-bg">
                            <img src="assets/images/key.png" alt="lock">
                        </figure>
                    </div>
                    <form (ngSubmit)="resetPassword()" #frmSignIn="ngForm" novalidate>
                        <div class="form-group">
                            <div class="input-wrap fixed-widthinput text-center">
                                <input type="password" name="newpass"   (keypress)="changeMessageNewPass()" minlength="8" placeholder="New Password" #newpass="ngModel" [(ngModel)]="newPassword" required>
                                <div *ngIf="newpass.invalid&&newpass.touched">
                                    <span class="error-inputmsg" style="display:block" *ngIf="newpass?.errors.required">This Field is Required.</span>
                                    <span class="error-inputmsg"  style="display:block"  *ngIf="newpass?.errors.minlength">Password must be at least 8 characters long.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-wrap fixed-widthinput text-center">
                                <input type="password" name="confirmpass" (keypress)="changeMessage()" minlength="8" (blur)="changeMessageConfirmPassword()" placeholder="Confirm New Password" #confirmPass="ngModel" [(ngModel)]="confirmPassword" required>
                                   <div *ngIf="confirmPass.invalid&&confirmPass.touched">
                                    <span class="error-inputmsg" style="display:block" *ngIf="confirmPass?.errors.required">This Field is Required.</span>
                                    <span class="error-inputmsg"  style="display:block"  *ngIf="confirmPass?.errors.minlength">Password must be at least 8 characters long.</span>
                                </div>
                                <div *ngIf="passwordDoNotMatch">
                                <span class="error-inputmsg" style="display:block">Password does not match</span>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="button-wrapper text-center">
                            <button type="submit" name="" value="" [disabled]="frmSignIn.invalid" class="gradient custom-btn" >Submit</button>
                            <span class="error-edu-inputmsg" style="display:block">{{resetPasswordResponse}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>