.choose-image {
    position: relative;
}

.choose-image .profile-errormsg {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    color: #ff0000;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
}