<div class="datasecwrapper">
    <div class="datasecwrapper-inner">
        <ul class="breadcrumb">
            <li>
                <a href="javascript:void(0)"> Friends </a>
            </li>
            <li>
                <a href="javascript:void(0)"> Friends details </a>
            </li>
            <li> Friends Name</li>
        </ul>
        <div class="Tablewrapper teachertable">
            <div class="TableRow">
                <div class="TableCell">
                    <figure class="profileimage" style="background-image:url('assets/images/user1.jpg')"></figure>
                    <div class="leftin">
                        <p class="teachername">John doe</p>
                        <label class="message">Message</label>
                    </div>
                </div>
                <div class="TableCell">
                    <label class="label-input">Learning language </label>
                    <label class="label-form">English</label>
                </div>
                <div class="TableCell">
                    <label class="label-input">Country </label>
                    <label class="label-form">Canada</label>
                </div>
                <div class="TableCell">
                    <button type="button" class="custom-btn gradient book-btn">Send Request</button>
                </div>
            </div>
            <!-- TableRow -->
            <div class="TableRow">
                <div class="TableCell">
                    <figure class="profileimage" style="background-image:url('assets/images/user1.jpg')"></figure>
                    <div class="leftin">
                        <p class="teachername">Michelle Pal</p>
                        <label class="message">Message</label>
                    </div>
                </div>
                <div class="TableCell">
                    <label class="label-input">Learning language </label>
                    <label class="label-form">English</label>
                </div>
                <div class="TableCell">
                    <label class="label-input">Country </label>
                    <label class="label-form">Canada</label>
                </div>
                <div class="TableCell">
                    <button type="button" class="custom-btn gradient book-btn">Send Request</button>
                </div>
            </div>
            <div class="TableRow">
                <div class="TableCell">
                    <figure class="profileimage" style="background-image:url('assets/images/user1.jpg')"></figure>
                    <div class="leftin">
                        <p class="teachername">Michelle Pal</p>
                        <span class="rating-star"><span style="width:50%"></span></span>
                        <label class="message">Message</label>
                    </div>
                </div>
                <div class="TableCell">
                    <label class="label-input">Learning language </label>
                    <label class="label-form">English</label>
                </div>
                <div class="TableCell">
                    <label class="label-input">Country </label>
                    <label class="label-form">Canada</label>
                </div>
                <div class="TableCell">
                    <button type="button" class="custom-btn gradient book-btn">Send Request</button>
                </div>
            </div>
            <div class="TableRow">
                <div class="TableCell">
                    <figure class="profileimage" style="background-image:url('assets/images/user1.jpg')"></figure>
                    <div class="leftin">
                        <p class="teachername">Michelle Pal</p>
                        <label class="message">Message</label>
                    </div>
                </div>
                <div class="TableCell">
                    <label class="label-input">Learning language </label>
                    <label class="label-form">English</label>
                </div>
                <div class="TableCell">
                    <label class="label-input">Country </label>
                    <label class="label-form">Canada</label>
                </div>
                <div class="TableCell">
                    <button type="button" class="custom-btn gradient book-btn">Send Request</button>
                </div>
            </div>
            <div class="TableRow">
                <div class="TableCell">
                    <figure class="profileimage" style="background-image:url('assets/images/user1.jpg')"></figure>
                    <div class="leftin">
                        <p class="teachername">Michelle Pal</p>
                        <label class="message">Message</label>
                    </div>
                </div>
                <div class="TableCell">
                    <label class="label-input">Learning language </label>
                    <label class="label-form">English</label>
                </div>
                <div class="TableCell">
                    <label class="label-input">Country </label>
                    <label class="label-form">Canada</label>
                </div>
                <div class="TableCell">
                    <button type="button" class="custom-btn gradient book-btn">Send Request</button>
                </div>
            </div>
            <!-- TableRow -->
        </div>

    </div>
</div>