<!-- home page start -->
<!-- <div class="modal-bg">
    <div class="LogIn-modal custom-modal clearfix" id="LogInmodal">
        <div class="modal-inner">
            <div class="image-section">
                <img src="assets/images/login.png" alt="">
            </div>
            <div class="content-section">
                <h2 class="modal-head text-center">Sign In</h2>
                <p class="modal-para">Lorem Ipsum is simply dummy text of the printing. </p>
                <form action="Student_Profile_Screen1.html">
                    <div class="custom-radio">
                        <input type="radio" value="" name="radio1" id="student" checked />
                        <label for="student">Student</label>
                    </div>
                    <div class="custom-radio">
                        <input type="radio" value="" name="radio1" id="tutor" />
                        <label for="tutor">Tutor</label>
                    </div>
                    <div class="form-group">
                        <div class="input-wrap">
                            <input type="text" name="" value="" class="" placeholder="Email">
                            <span class="error-inputmsg">This Field is Requried </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-wrap">
                            <input type="password" name="" value="" class="" placeholder="Password">
                            <span class="error-inputmsg">This Field is Requried </span>
                        </div>
                    </div>
                    <div class="custom-check">
                        <input type="checkbox" value="" name="check" id="Remember" />
                        <label for="Remember">Remember Me</label>
                    </div>
                    <a href="forgot.html" class="forgot-psw">Forgot Password</a>
                    <div class="clearfix"></div>
                    <div class="button-wrapper text-center">
                        <button type="submit" name="" value="" class="gradient custom-btn">Sign In</button>
                    </div>
                    <div class="other-option"><span> Or Login With </span></div>
                    <div class="social-icon">
                        <a href="javascript:void" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    </div>
                </form>
                <div class="footer-modal text-center">
                    <p class="para">Don't have an account? <a href="signup.html" class="signup"> Sign Up </a></p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- home page end -->