<!-- <div class="modal-bg">
    <div class="forgot-modal custom-modal clearfix" id="LogInmodal">
        <div class="modal-inner">
            <div class="content-section">
                <a href="javascript:void(0);" class="modal-cross"><img src="images/cancel.png" alt="close"></a>
                <h2 class="modal-head text-center">Forgot Password?</h2>
                <p class="modal-para text-center">Enter your email address below and we will send you an email allowing to reset it.</p>
                <div class="icon-image">
                    <figure class="icon-bg">
                        <img src="images/lock.png" alt="lock">
                    </figure>
                </div>
                <form action="reset.html">
                    <div class="form-group">
                        <div class="input-wrap fixed-widthinput text-center">
                            <input type="Email" name="" value="" placeholder="Email">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="button-wrapper text-center">
                        <button type="submit" name="" value="" class="gradient custom-btn">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->