<div class="datasecwrapper">
    <div class="datasecwrapper-inner">
        <ul class="breadcrumb">
            <li>
                <a href="javascript:void(0)"> Friends </a>
            </li>
            <li>
                <a href="javascript:void(0)"> group details </a>
            </li>
            <li> group Name</li>
        </ul>
        <div class="friendlist-col">
            <div class="userdetail-column clearfix">
                <figure class="image" style="background-image: url(&quot;assets/images/image-placeholder.jpg&quot;);"></figure>
                <div class="leftin">
                    <h3>
                        <a href="#">
                            English Group 
                        </a>
                    </h3>
                    <label class="label-withicon">
                            <span class="icon"><img alt="" src="assets/images/member-icon.png"></span>
                            <strong> Member:</strong>                             
                            3
                        </label>
                    <label class="label-withicon">
                        <span class="icon"><img alt="" src="assets/images/topic-icon.png"></span>
                        <strong> Category: </strong>  FREE TALKING
                    </label>
                </div>
            </div>
            <div class="userdetail-column clearfix">
                <figure class="image" style="background-image: url(&quot;assets/images/image-placeholder.jpg&quot;);"></figure>
                <div class="leftin">
                    <h3>
                        <a href="#">
                            English Group 
                        </a>
                    </h3>
                    <label class="label-withicon">
                            <span class="icon"><img alt="" src="assets/images/member-icon.png"></span>
                            <strong> Member:</strong>                             
                            3
                        </label>
                    <label class="label-withicon">
                        <span class="icon"><img alt="" src="assets/images/topic-icon.png"></span>
                        <strong> Category: </strong>  FREE TALKING
                    </label>
                </div>
            </div>
            <div class="userdetail-column clearfix">
                <figure class="image" style="background-image: url(&quot;assets/images/image-placeholder.jpg&quot;);"></figure>
                <div class="leftin">
                    <h3>
                        <a href="#">
                            English Group 
                        </a>
                    </h3>
                    <label class="label-withicon">
                            <span class="icon"><img alt="" src="assets/images/member-icon.png"></span>
                            <strong> Member:</strong>                             
                            3
                        </label>
                    <label class="label-withicon">
                        <span class="icon"><img alt="" src="assets/images/topic-icon.png"></span>
                        <strong> Category: </strong>  FREE TALKING
                    </label>
                </div>
            </div>
            <div class="userdetail-column clearfix">
                <figure class="image" style="background-image: url(&quot;assets/images/image-placeholder.jpg&quot;);"></figure>
                <div class="leftin">
                    <h3>
                        <a href="#">
                            English Group 
                        </a>
                    </h3>
                    <label class="label-withicon">
                            <span class="icon"><img alt="" src="assets/images/member-icon.png"></span>
                            <strong> Member:</strong>                             
                            3
                        </label>
                    <label class="label-withicon">
                        <span class="icon"><img alt="" src="assets/images/topic-icon.png"></span>
                        <strong> Category: </strong>  FREE TALKING
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>