<div class="datasecwrapper-inner">
    <!-- <ul class="breadcrumb">
        <li>
            <a href="#">Settings </a>
        </li>
        <li> Classes</li>
    </ul> -->
    <div class="classes-wrapper">
        <div class="text-center">
            <h2 class="titleheading small">Your Class Preferences</h2>
        </div>
        <div class="column-wrap">
            <h2 class="sub-heading">Class Method Preferences</h2>
            <div class="detail-wrapper" >
               
                <mat-radio-group class="radio-wrapper classes" [(ngModel)]="classPreferences">
                    <mat-radio-button value="0">Video </mat-radio-button>
                    <mat-radio-button value="1">Audio</mat-radio-button>
                    <mat-radio-button value="2">Both</mat-radio-button>
                </mat-radio-group>
            </div>
        <div *ngFor="let interest of allInterests">
            <h2 class="sub-heading" >{{interest.name}}</h2>
            <div class="detail-wrapper classes-check" *ngFor="let inner of interest.innerData">
                <mat-checkbox (change)="changePreferences(inner._id)" [checked]="boxCheckedOrNot(inner._id)" [value]="inner._id">{{inner.name}}</mat-checkbox>
                <!-- <mat-checkbox> Topic</mat-checkbox>
                <mat-checkbox>Interview </mat-checkbox>
                <mat-checkbox> Speaking Test</mat-checkbox>
                <mat-checkbox>None </mat-checkbox> -->
            </div>
        </div>
            <!-- <h2 class="sub-heading">Topic Study</h2>
            <div class="detail-wrapper classes-check">
                <mat-checkbox>Politics </mat-checkbox>
                <mat-checkbox checked>Business </mat-checkbox>
                <mat-checkbox>Tech </mat-checkbox>
                <mat-checkbox>Social </mat-checkbox>
                <mat-checkbox>None </mat-checkbox>
            </div>
            <h2 class="sub-heading">Speaking Test</h2>
            <div class="detail-wrapper classes-check">
                <mat-checkbox> Opic</mat-checkbox>
                <mat-checkbox>TOEFL </mat-checkbox>
                <mat-checkbox checked>TOEIC </mat-checkbox>
                <mat-checkbox> IELTS</mat-checkbox>
                <mat-checkbox> None </mat-checkbox>
            </div>
            <h2 class="sub-heading">Interview Preparation</h2>
            <div class="detail-wrapper classes-check">
                <mat-checkbox> Job </mat-checkbox>
                <mat-checkbox>MBA </mat-checkbox>
                <mat-checkbox>Graduate </mat-checkbox>
                <mat-checkbox checked> Undergraduate</mat-checkbox>
            </div> -->
        </div>
    </div>
    <span *ngIf="ifUpdateSuccessfully">Preferences updated Successfully.</span>
    <input type="button" class="custom-btn" (click)="updatePreferences()" value="update">
</div>