<div class="leftbarwrapper-inner">

    <div class="userdetails-leftbar">
        <figure class="userimage" [style.background-image]="'url('+ userProfilePic +')'"></figure>
        <p class="user">{{userFullName}}</p>
        <p class="email">{{email}}</p>
    </div>
    <ul class="leftbarlisting">
        <li>
            <a href="javascript:void(0);" [routerLink]="['./lessons']" routerLinkActive="active">
                <img src="assets/images/lesson-active.png" class="active" alt="">
                <img src="assets/images/lesson-deactive.png" class="deactive" alt="">
                <span>{{'lessons' | translate}}</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#Admin">
                <img src="assets/images/setting-active.png" class="active" alt="">
                <img src="assets/images/setting-deactive.png" class="deactive" alt="">
                <span>{{'class-admin' | translate}}</span>
            </a>
            <ul class="leftbar-sublisting collapse" id="Admin">
                <li>
                    <a href="javascript:void(0);" [routerLink]="['./availability']" routerLinkActive="active">
                        <img src="assets/images/classes-active.png" class="active" alt="">
                        <img src="assets/images/classes-deactive.png" class="deactive" alt="">
                        <span>{{'availability' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" [routerLink]="['./class-rates']" routerLinkActive="active">
                        <img src="assets/images/notification-active.png" class="active" alt="">
                        <img src="assets/images/notification-deactive.png" class="deactive" alt="">
                        <span>{{'class-rates' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" [routerLink]="['./courses']" routerLinkActive="active">
                        <img src="assets/images/receipt-active.png" class="active" alt="">
                        <img src="assets/images/receipt-deactive.png" class="deactive" alt="">
                        <span>{{'courses' | translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">
                <img src="assets/images/credits-active.png" class="active" alt="">
                <img src="assets/images/credits-deactive.png" class="deactive" alt="">
                <span>{{'credits' | translate}}</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#Setting">
                <img src="assets/images/setting-active.png" class="active" alt="">
                <img src="assets/images/setting-deactive.png" class="deactive" alt="">
                <span>{{'settings' | translate}}</span>
            </a>
            <ul class="leftbar-sublisting collapse" id="Setting">
                <li>
                    <a href="javascript:void(0);" [routerLink]="['./classes']" routerLinkActive="active">
                        <img src="assets/images/classes-active.png" class="active" alt="">
                        <img src="assets/images/classes-deactive.png" class="deactive" alt="">
                        <span>{{'classes' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" [routerLink]="['./teacher-notification']" routerLinkActive="active">
                        <img src="assets/images/notification-active.png" class="active" alt="">
                        <img src="assets/images/notification-deactive.png" class="deactive" alt="">
                        <span>{{'notifications' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" [routerLink]="['./teacher-password']" routerLinkActive="active">
                        <img src="assets/images/change-password-active.png" class="active" alt="">
                        <img src="assets/images/change-password-deactive.png" class="deactive" alt="">
                        <span>{{'change-password' | translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">
                <img src="assets/images/help-active.png" class="active" alt="">
                <img src="assets/images/help-deactive.png" class="deactive" alt="">
                <span>{{'help-center' | translate}}</span>
            </a>
        </li>
    </ul>
</div>